@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Light.ttf") format("truetype");
  font-weight: 350;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Light.ttf") format("truetype");
  font-weight: 330;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Regular.ttf") format("truetype");
  font-weight: 450;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 430;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Medium.ttf") format("truetype");
  font-weight: 550;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 530;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-SemiBold.ttf") format("truetype");
  font-weight: 650;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 630;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Bold.ttf") format("truetype");
  font-weight: 750;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 730;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_ExtraExpanded-Black.ttf") format("truetype");
  font-weight: 950;
  font-display: swap;
}
@font-face {
  font-family: "TikTok";
  src: url("/fonts/TikTok/TikTokSans_Condensed-Black.ttf") format("truetype");
  font-weight: 930;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

html,
body {
  font-family: "Commissioner", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

html {
  font-size: 0.8333333333vw;
  scroll-behavior: smooth;
}
@media (max-width: 779.99px) {
  html {
    font-size: 4.2666666667vw;
  }
}

main {
  min-height: 60vh;
  position: relative;
}

body {
  background-color: #f2f2f2;
  color: #1d1d20;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.c-container {
  max-width: 105rem;
  margin: 0 auto;
}
@media (max-width: 779.99px) {
  .c-container {
    max-width: 21.4375rem;
  }
}

.c-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.c-title h2 {
  font-family: "TikTok", sans-serif;
  font-weight: 830;
  font-size: 8.125rem;
  line-height: 6.8125rem;
  letter-spacing: -0.04em;
  color: #1d1d20;
}
@media (max-width: 779.99px) {
  .c-title h2 {
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 2.41rem;
    letter-spacing: -0.113em;
  }
}
.c-title__arrows {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 779.99px) {
  .c-title__arrows {
    display: none;
  }
}
.c-title__arrow {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 10rem;
  background-color: #2b2d33;
  line-height: 0;
  color: #fff;
  transition: background-color 0.3s ease;
}
.c-title__arrow:hover {
  background-color: #98e51c;
}
@media (max-width: 779.99px) {
  .c-title__arrow:hover {
    background-color: #2b2d33;
  }
}
.c-title__arrow .icon {
  width: 2.5rem;
  height: 2.5rem;
}
.c-title__arrow.swiper-button-disabled {
  background-color: #b7bbbe;
  color: #fff;
}
.c-title__arrow--next .icon {
  transform: rotate(180deg);
}

.c-description {
  width: 62.5rem;
}
@media (max-width: 779.99px) {
  .c-description {
    width: 100%;
  }
}
.c-description * {
  font-family: "Golos", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.755rem;
  color: #1d1d20;
}
@media (max-width: 779.99px) {
  .c-description * {
    font-size: 0.875rem;
    line-height: 1.12775rem;
  }
}
.c-description p {
  margin-bottom: 1rem;
}
@media (max-width: 779.99px) {
  .c-description p {
    margin-bottom: 0.5rem;
  }
}
.c-description p:last-child {
  margin-bottom: 0;
}

.swiper-pagination {
  display: none;
}
@media (max-width: 779.99px) {
  .swiper-pagination {
    display: block;
    position: static;
    line-height: 0;
    margin-top: 1rem;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.125rem;
    background: #e6e6e6;
    opacity: 1;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #2b2d33;
    border: 0.0625rem solid #e6e6e6;
  }
}

.c-social {
  display: block;
  line-height: 0;
  border-radius: 10rem;
}

.accient-title {
  display: inline;
  color: #98e51c;
}

.button {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
}
.button--large {
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 1.75rem;
  line-height: 1.25rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 1rem;
}
@media (max-width: 779.99px) {
  .button--large {
    font-family: "TikTok", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.03em;
  }
}
.button--solid {
  color: #1d1d20;
  background-color: #98e51c;
  padding: 2.25rem 2rem;
}
@media (max-width: 779.99px) {
  .button--solid {
    padding: 1.5rem;
  }
}
.button--solid:hover {
  background-color: #1d1d20;
  color: #98e51c;
}
@media (max-width: 779.99px) {
  .button--solid:hover {
    color: #1d1d20;
    background-color: #98e51c;
  }
}
.button--outline {
  color: #1d1d20;
  border: 0.25rem solid #1d1d20;
  background-color: transparent;
  padding: 2rem 1.75rem;
  letter-spacing: -0.04em;
}
@media (max-width: 779.99px) {
  .button--outline {
    padding: 1.5rem;
    border: 0.125rem solid #1d1d20;
  }
}
.button--outline:hover {
  color: #fff;
  background-color: #1d1d20;
}
@media (max-width: 779.99px) {
  .button--outline:hover {
    color: #1d1d20;
    background-color: transparent;
  }
}

form input {
  border: 0.0625rem solid #e8e8e2;
  border-radius: 1.25rem;
  padding: 1.9rem 2rem;
  font-family: "Golos", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.755rem;
  color: #999ead;
}
@media (max-width: 779.99px) {
  form input {
    padding: 1.465rem 2rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.btn_shine {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.btn_shine:hover:after {
  opacity: 1;
  top: -110%;
  left: 60%;
  transition-property: left, top, opacity;
  transition-duration: 1.3s, 1.3s, 0.18s;
  transition-timing-function: ease;
}

.btn_shine::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.breadcrumbs {
  position: absolute;
  z-index: 1;
  top: 9.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  gap: 0.75rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  display: flex;
}
@media (max-width: 779.99px) {
  .breadcrumbs {
    padding-left: 1rem;
    padding-right: 1rem;
    top: 6rem;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
.breadcrumbs__item a {
  color: #e6e6e6;
}
.breadcrumbs__item span {
  color: #fff;
}
.breadcrumbs__slash {
  color: #e6e6e6;
}

.header {
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 9;
  width: 100%;
}
@media (max-width: 779.99px) {
  .header {
    top: 1.5rem;
  }
}
.header__logo {
  width: 8.9375rem;
  line-height: 0;
}
@media (max-width: 779.99px) {
  .header__logo {
    width: 7.125rem;
  }
}
.header__logo img {
  width: 100%;
}
.header__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(23.2000007629px);
          backdrop-filter: blur(23.2000007629px);
  background: rgba(255, 255, 255, 0.74);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
}
@media (max-width: 779.99px) {
  .header__block {
    padding: 0.5rem 1rem;
  }
}
.header__menu {
  margin-left: -0.27rem;
}
@media (max-width: 779.99px) {
  .header__menu {
    display: none;
  }
}
.header__menu ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__menu ul li {
  font-family: "TikTok", sans-serif;
  font-weight: 530;
  font-size: 1.5rem;
  line-height: 83%;
  letter-spacing: -0.036em;
  color: #1d1d20;
}
.header__menu ul li a:hover {
  color: #3aa715;
}
.header__info {
  display: flex;
  gap: 0.75rem;
}
@media (max-width: 779.99px) {
  .header__info {
    display: none;
  }
}
.header__phone-n-place {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}
.header__socials {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.header__socials .c-social {
  color: #1d1d20;
}
.header__socials .c-social .icon {
  width: 2rem;
  height: 2rem;
}
.header__phone {
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 0.375rem 0.75rem;
  border-radius: 6.25rem;
  background-color: #52ae32;
  transition: all 0.3s ease;
}
.header__phone:hover {
  background-color: #1d1d20;
  color: #98e51c;
}
.header__place {
  font-family: "TikTok", sans-serif;
  font-weight: 530;
  font-size: 1.0625rem;
  line-height: 1.02rem;
  letter-spacing: -0.06em;
  color: #1d1d20;
}
.header__burger {
  display: none;
}
@media (max-width: 779.99px) {
  .header__burger {
    display: block;
    background-color: #2b2d33;
    color: #fff;
    border-radius: 10rem;
    padding: 0.5rem;
    line-height: 0;
  }
  .header__burger .burger-close {
    display: none;
  }
}
.header__burger .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header--mobile-menu-active .header__block {
  border-radius: 1.25rem 1.25rem 0 0;
  background: #f2f2f2;
}
.header--mobile-menu-active .header__burger .burger-close {
  display: block;
}
.header--mobile-menu-active .header__burger .burger-menus {
  display: none;
}
.header--mobile-menu-active .header__mobile-menu {
  display: flex;
}
.header__mobile-menu {
  display: none;
  flex-direction: column;
  gap: 2.75rem;
  position: absolute;
  background-color: #f2f2f2;
  top: 3.48rem;
  left: 0;
  width: 100%;
  padding: 2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  max-height: calc(100vh - 6rem);
  overflow: auto;
}
.header__mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.header__mobile-menu-phone {
  display: block;
  padding: 0.75rem;
  border-radius: 100rem;
  background-color: #52ae32;
  color: #fff;
  font-family: "TikTok", sans-serif;
  font-weight: 900;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-transform: uppercase;
  color: #fff;
}
.header__mobile-menu-address {
  font-family: "TikTok", sans-serif;
  font-weight: 530;
  font-size: 1.0625rem;
  line-height: 1.02rem;
  letter-spacing: -0.03em;
  color: #1d1d20;
}
.header__mobile-menu-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header__mobile-menu-list ul li {
  font-family: "TikTok", sans-serif;
  font-weight: 530;
  font-size: 1.5rem;
  line-height: 1.755rem;
  letter-spacing: -0.01em;
  color: #1d1d20;
}
.header__mobile-menu-socials {
  display: flex;
  gap: 1rem;
}
.header__mobile-menu-socials .icon {
  width: 2rem;
  height: 2rem;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 4.5rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 779.99px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}
.footer__image {
  position: absolute;
  top: -0.12rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  width: 100vw;
  line-height: 0;
}
@media (max-width: 779.99px) {
  .footer__image {
    display: none;
  }
}
.footer__image-mobile {
  display: none;
}
@media (max-width: 779.99px) {
  .footer__image-mobile {
    display: block;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 100vw;
    height: 92%;
    line-height: 0;
  }
  .footer__image-mobile img {
    width: 100%;
    height: 124%;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 54.0625rem;
}
@media (max-width: 779.99px) {
  .footer__left {
    width: auto;
    gap: 1.45rem;
  }
}
.footer__logo {
  display: block;
  width: 22.5rem;
  height: 6.375rem;
}
@media (max-width: 779.99px) {
  .footer__logo {
    width: 16.0625rem;
    height: 4.5625rem;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
@media (max-width: 779.99px) {
  .footer__menu ul {
    gap: 0.5rem;
  }
}
.footer__menu ul li a {
  display: block;
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1d1d20;
  background-color: #98e51c;
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
@media (max-width: 779.99px) {
  .footer__menu ul li a {
    padding: 0.37rem 0.65rem;
    border-radius: 0.875rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: -0.027em;
  }
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
@media (max-width: 779.99px) {
  .footer__right {
    gap: 1.5rem;
  }
}
.footer__right a:hover {
  color: rgb(152, 229, 28);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 779.99px) {
  .footer__contacts {
    gap: 0.75rem;
  }
}
.footer__socials {
  display: flex;
  gap: 1rem;
}
@media (max-width: 779.99px) {
  .footer__socials {
    gap: 0.7rem;
  }
}
.footer__socials .c-social {
  margin: 0 0.3125rem;
}
.footer__socials .c-social .icon {
  width: 3.375rem;
  height: 3.375rem;
  color: #98e51c;
}
.footer__phone {
  font-family: "TikTok", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.65rem;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 779.99px) {
  .footer__phone {
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -0.07em;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
@media (max-width: 779.99px) {
  .footer__links {
    gap: 0.5rem;
  }
}
.footer__link {
  font-family: "Golos", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.65rem;
  color: #fff;
}
@media (max-width: 779.99px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .footer__link-pr {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.footer_ayalantonov {
  display: block;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.page-loader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.page-loader .spinner {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(108, 177, 218, 0.2666666667);
  border-top-color: #6cb1da;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@media (max-width: 575.98px) {
  .page-loader .spinner {
    width: 50px;
    height: 50px;
    border-width: 3px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}