.b-day-contacts {
  padding-top: 2.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 991.98px) {
  .b-day-contacts {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
.b-day-contacts__title {
  margin-bottom: 3.125rem;
}
@media (max-width: 991.98px) {
  .b-day-contacts__title {
    margin-bottom: 2rem;
  }
  .b-day-contacts__title h2 {
    font-family: "TikTok", sans-serif;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 2.3925rem;
    letter-spacing: -0.05em;
  }
}
.b-day-contacts__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: "Golos", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #1d1d20;
  margin-bottom: 3.125rem;
}
@media (max-width: 991.98px) {
  .b-day-contacts__info {
    font-size: 1.375rem;
    line-height: 1.6225rem;
    margin-bottom: 2rem;
  }
}
.b-day-contacts__map {
  width: 100%;
  height: 37.5rem;
  background-color: #eee;
  border-radius: 4rem;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .b-day-contacts__map {
    border-radius: 2rem;
    height: 37.5rem;
  }
}