.b-day-prices {
  padding: 5.5rem 0;
}
@media (max-width: 991.98px) {
  .b-day-prices {
    padding: 2rem 0;
  }
}
.b-day-prices__title {
  margin-bottom: 3rem;
}
@media (max-width: 991.98px) {
  .b-day-prices__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991.98px) {
  .b-day-prices__title h2 {
    font-family: "TikTok", sans-serif;
    font-weight: 630;
    font-size: 2.75rem;
    line-height: 2.3925rem;
    letter-spacing: -0.08em;
  }
}