.b-day-banner {
  position: relative;
  height: 57.0625rem;
}
.b-day-banner__under-title {
  font-family: "Golos", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 111%;
  color: #fff;
}
.b-day-banner__title h1 {
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 6.875rem;
  line-height: 6.05rem;
  color: #fff;
}
.b-day-banner__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 47rem;
  padding-top: 13.5rem;
}
.b-day-banner__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.b-day-banner__wrap-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.b-day-banner__price {
  font-family: "TikTok", sans-serif;
  font-weight: 530;
  font-size: 4.5rem;
  line-height: 3.78rem;
  letter-spacing: -0.04em;
  color: #fff;
}
.b-day-banner__button {
  display: flex;
  justify-content: flex-start;
}
.b-day-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-day-banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}