.b-day-banner {
  position: relative;
  height: 57.0625rem;
}
@media (max-width: 849.99px) {
  .b-day-banner {
    height: 50.8rem;
  }
}
.b-day-banner__under-title {
  font-family: "Golos", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.4975rem;
  color: #fff;
}
@media (max-width: 849.99px) {
  .b-day-banner__under-title {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
.b-day-banner__title h1 {
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 6.875rem;
  line-height: 6.05rem;
  letter-spacing: -0.07em;
  color: #fff;
}
@media (max-width: 849.99px) {
  .b-day-banner__title h1 {
    font-size: 3rem;
    line-height: 2.85rem;
    letter-spacing: -0.065em;
  }
}
.b-day-banner__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  width: 47rem;
  padding-top: 12.9rem;
}
@media (max-width: 849.99px) {
  .b-day-banner__content {
    padding-top: 10.5rem;
    width: 100%;
    gap: 3.5rem;
  }
}
.b-day-banner__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
}
.b-day-banner__wrap-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 849.99px) {
  .b-day-banner__wrap-title {
    gap: 1.5rem;
  }
}
.b-day-banner__price {
  position: relative;
  font-family: "TikTok", sans-serif;
  font-weight: 530;
  font-size: 4.5rem;
  line-height: 3.78rem;
  letter-spacing: -0.075em;
  color: #fff;
}
.b-day-banner__price-sprite {
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translate(0, -50%);
  z-index: -1;
  width: 20.8125rem;
}
.b-day-banner__price-sprite img {
  width: 100%;
}
@media (max-width: 849.99px) {
  .b-day-banner__price-sprite {
    width: 12.625rem;
    left: -1rem;
  }
}
@media (max-width: 849.99px) {
  .b-day-banner__price {
    font-size: 2.75rem;
    line-height: 2.3925rem;
    letter-spacing: -0.07em;
  }
}
.b-day-banner__button {
  display: flex;
  justify-content: flex-start;
}
.b-day-banner__button .button {
  padding: 2rem 2rem;
  letter-spacing: -0.04em;
}
@media (max-width: 849.99px) {
  .b-day-banner__button .button {
    padding: 1.5rem 1.25rem;
    font-family: "TikTok", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #1d1d20;
  }
}
.b-day-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-day-banner__image-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-day-banner__image-mobile img {
  width: 100%;
}
@media (max-width: 849.99px) {
  .b-day-banner__image-mobile {
    display: block;
  }
}
@media (max-width: 849.99px) {
  .b-day-banner__image {
    display: none;
  }
}
.b-day-banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}