.b-day-gives {
  padding: 5.5rem 0;
}
@media (max-width: 849.99px) {
  .b-day-gives {
    padding: 2rem 0;
  }
}
.b-day-gives__title {
  margin-bottom: 3rem;
}
@media (max-width: 849.99px) {
  .b-day-gives__title {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 849.99px) {
  .b-day-gives__title h2 {
    font-family: "TikTok", sans-serif;
    font-weight: 630;
    font-size: 2.75rem;
    line-height: 2.3925rem;
    letter-spacing: -0.083em;
    color: #1d1d20;
  }
}
.b-day-gives__cards {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 849.99px) {
  .b-day-gives__cards {
    flex-direction: column;
  }
}
.b-day-gives__card {
  position: relative;
  overflow: hidden;
  border-radius: 4rem;
  padding: 1.85rem;
  width: 34.625rem;
  height: 23.99rem;
}
@media (max-width: 849.99px) {
  .b-day-gives__card {
    width: 100%;
    height: 16rem;
    border-radius: 3rem;
    padding: 1.4rem;
  }
}
.b-day-gives__card--1 {
  background-color: #fbddea;
  border: 0.125rem solid #ffb4d4;
}
.b-day-gives__card--1 .b-day-gives__card-image {
  width: 17.91rem;
}
@media (max-width: 849.99px) {
  .b-day-gives__card--1 .b-day-gives__card-image {
    width: 11.91rem;
    right: -1rem;
  }
}
.b-day-gives__card--2 {
  background-color: #c8ff70;
  border: 0.125rem solid #a6d934;
}
.b-day-gives__card--2 .b-day-gives__card-image {
  width: 20.5rem;
}
@media (max-width: 849.99px) {
  .b-day-gives__card--2 .b-day-gives__card-image {
    width: 13.3rem;
    right: -2rem;
    bottom: -1.2rem;
  }
}
.b-day-gives__card--3 {
  background-color: #caf4ff;
  border: 0.125rem solid #8cd3e6;
}
.b-day-gives__card--3 .b-day-gives__card-image {
  width: 17rem;
  right: 2.1rem;
}
@media (max-width: 849.99px) {
  .b-day-gives__card--3 .b-day-gives__card-image {
    width: 10.5rem;
    right: 0.6rem;
  }
}
.b-day-gives__card-title {
  font-family: "TikTok", sans-serif;
  font-weight: 630;
  font-size: 2.75rem;
  line-height: 2.6rem;
  letter-spacing: -0.056em;
  color: #1d1d20;
}
@media (max-width: 849.99px) {
  .b-day-gives__card-title {
    font-family: "TikTok", sans-serif;
    font-weight: 530;
    font-size: 2rem;
    line-height: 1.92rem;
    letter-spacing: -0.066em;
    color: #1d1d20;
  }
}
.b-day-gives__card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0;
  width: 17rem;
}
.b-day-gives__card-image img {
  width: 100%;
}
@media (max-width: 849.99px) {
  .b-day-gives__card-image {
    width: 10.5rem;
  }
}
.b-day-gives__card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  line-height: 0;
}