.b-day-anim {
  padding-top: 11.25rem;
  padding-bottom: 4rem;
}
.b-day-anim__title {
  margin-bottom: 2rem;
}
.b-day-anim__slider {
  margin: 0 -7.5rem;
  margin-top: 5.4375rem;
}
.b-day-anim__slider .swiper-slide {
  width: auto;
}
.b-day-anim__card {
  width: 46.0625rem;
  height: 34.9375rem;
  border-radius: 4rem;
  overflow: hidden;
}
.b-day-anim__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}