.faq {
  padding: 6.25rem 0;
}
.faq__title {
  margin-bottom: 3rem;
}
.faq__blocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq__block {
  border-radius: 4rem;
  padding: 1.875rem 2.5rem;
  background-color: #fff;
}
.faq__block-title {
  display: flex;
  justify-content: space-between;
  font-family: "TikTok", sans-serif;
  font-weight: 630;
  font-size: 3rem;
  line-height: 2.52rem;
  letter-spacing: -0.04em;
  color: #1d1d20;
  cursor: pointer;
}
.faq__block-icon {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.75rem;
  border-radius: 10rem;
  background-color: #2b2d33;
  color: #fff;
  line-height: 0;
}
.faq__block-icon .icon {
  width: 2rem;
  height: 2rem;
}
.faq__block-content {
  display: none;
  padding-top: 1.5rem;
  font-family: "Golos", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.755rem;
  color: #2b2d33;
}
.faq__block--active .faq__block-content {
  display: block;
}
.faq__block--active .faq__block-icon .icon {
  transform: rotate(45deg);
}