.main-menu {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 849.99px) {
  .main-menu {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.main-menu__title {
  margin-bottom: 3.75rem;
}
@media (max-width: 849.99px) {
  .main-menu__title {
    margin-bottom: 2rem;
  }
}
.main-menu__tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 849.99px) {
  .main-menu__tabs {
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
.main-menu__tab {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #e6e6e6;
  font-family: "Golos", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.755rem;
  color: #1d1d20;
}
@media (max-width: 849.99px) {
  .main-menu__tab {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.21rem;
  }
}
.main-menu__tab--active {
  background-color: #98e51c;
}
.main-menu__slides {
  margin: 0 -7.5rem;
}
@media (max-width: 849.99px) {
  .main-menu__slides {
    margin: 0 -1rem;
  }
}
.main-menu__slide {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.main-menu__slide--active {
  display: block;
  visibility: visible;
  opacity: 1;
}
.main-menu__slide .swiper-slide {
  width: auto;
  line-height: 0;
}
.main-menu__slide img {
  border-radius: 4rem;
  width: 46.125rem;
  height: 35rem;
}
@media (max-width: 849.99px) {
  .main-menu__slide img {
    border-radius: 1.5rem;
    width: 15rem;
    height: 9.88rem;
  }
}