@charset "UTF-8";
.main-banner {
  height: 57.0625rem;
  position: relative;
  padding-bottom: 3rem;
}
@media (max-width: 991.98px) {
  .main-banner {
    height: 50.8125rem;
    padding-bottom: 0;
  }
}
.main-banner .c-container {
  height: 100%;
}
.main-banner__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (max-width: 991.98px) {
  .main-banner__content {
    height: auto;
    padding-top: 10.5rem;
  }
}
.main-banner__under-title {
  font-family: "TikTok", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.04rem;
  letter-spacing: -0.03em;
  color: #1d1d20;
  background: #98e51c;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1.8125rem;
}
@media (max-width: 991.98px) {
  .main-banner__under-title {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 10rem;
    font-size: 0.75rem;
    letter-spacing: -0.05em;
  }
}
.main-banner__title-content {
  position: relative;
  z-index: 2;
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 6.875rem;
  line-height: 96%;
  color: #fff;
}
@media (max-width: 991.98px) {
  .main-banner__title-content {
    font-size: 3rem;
    line-height: 2.875rem;
    letter-spacing: -0.03em;
  }
}
.main-banner__title-shadow {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-family: "TikTok", sans-serif;
  font-weight: 950;
  font-size: 6.875rem;
  line-height: 96%;
  color: unset;
  /* убираем внутреннюю заливку */
  -webkit-text-fill-color: transparent; /* для WebKit / Blink */
  color: transparent; /* на всякий случай */
  /* обводка */
  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-stroke-color: #98e51c; /* или shorthand: -webkit-text-stroke: 2px #000; */
  /* опционально: чтобы сохранить сглаживание */
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 991.98px) {
  .main-banner__title-shadow {
    font-size: 3rem;
    line-height: 2.875rem;
    letter-spacing: -0.03em;
    top: 0.0625rem;
    left: 0.25rem;
  }
}
@media (max-width: 991.98px) {
  .main-banner__title-shadow {
    -webkit-text-stroke-width: 0.125rem;
  }
}
.main-banner__title-1 {
  position: relative;
}
.main-banner__title-2 {
  position: relative;
  margin-left: 8.75rem;
}
@media (max-width: 991.98px) {
  .main-banner__title-2 {
    margin-left: 4.6875rem;
  }
}
.main-banner__cards {
  position: relative;
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
@media (max-width: 991.98px) {
  .main-banner__cards {
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 14.5rem;
  }
  .main-banner__cards::after {
    position: absolute;
    content: "";
    bottom: -0.25rem;
    left: -1rem;
    width: 23.4375rem;
    height: 12.75rem;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0.89) 55%, #f2f2f2 100%);
    z-index: -1;
  }
}
.main-banner__card {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 20.5625rem;
  height: 14.5rem;
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
}
@media (max-width: 991.98px) {
  .main-banner__card {
    width: 10.4375rem;
    height: 5.5rem;
    padding: 0.625rem;
    border-radius: 0.75rem;
  }
}
.main-banner__card .main-banner__card-image img {
  width: 100%;
}
.main-banner__card--1 {
  border: 0.125rem solid #ffb4d4;
  background: #fbddea;
}
.main-banner__card--1 .main-banner__card-image {
  width: 11rem;
}
@media (max-width: 991.98px) {
  .main-banner__card--1 .main-banner__card-image {
    width: 4rem;
  }
}
.main-banner__card--2 {
  border: 0.125rem solid #8cd3e6;
  background: #caf4ff;
}
.main-banner__card--2 .main-banner__card-image {
  width: 10rem;
}
@media (max-width: 991.98px) {
  .main-banner__card--2 .main-banner__card-image {
    width: 5rem;
  }
}
.main-banner__card--3 {
  border: 0.125rem solid #ff9446;
  background: #ffa05b;
}
.main-banner__card--3 .main-banner__card-image {
  width: 11rem;
}
.main-banner__card--4 {
  border: 0.125rem solid #c7b4ff;
  background: #d6bcfa;
}
.main-banner__card--4 .main-banner__card-image {
  width: 12rem;
}
@media (max-width: 991.98px) {
  .main-banner__card--4 .main-banner__card-image {
    width: 5rem;
  }
}
.main-banner__card--5 {
  border: 0.125rem solid #a6d934;
  background: #c8ff70;
}
.main-banner__card--5 .main-banner__card-image {
  width: 14rem;
}
@media (max-width: 991.98px) {
  .main-banner__card--5 .main-banner__card-image {
    width: 6rem;
  }
}
.main-banner__card-content {
  display: flex;
  justify-content: space-between;
}
.main-banner__card-title {
  font-family: "TikTok", sans-serif;
  font-weight: 730;
  font-size: 2.5rem;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #1d1d20;
}
@media (max-width: 991.98px) {
  .main-banner__card-title {
    font-size: 1.0625rem;
    letter-spacing: -0.03em;
  }
}
.main-banner__card-arrow {
  flex-shrink: 0;
  border-radius: 2rem;
  padding: 0.75rem;
  width: 2.75rem;
  height: 2.75rem;
  background: #1d1d20;
  color: #fff;
  line-height: 0;
}
@media (max-width: 991.98px) {
  .main-banner__card-arrow {
    width: 1.125rem;
    height: 1.125rem;
    padding: 0.25rem;
  }
}
.main-banner__card-arrow .icon {
  width: 1.25rem;
  height: 1.25rem;
}
@media (max-width: 991.98px) {
  .main-banner__card-arrow .icon {
    width: 0.625rem;
    height: 0.625rem;
  }
}
.main-banner__card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  line-height: 0;
}
.main-banner__card-bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-banner__card-bg img {
  width: 100%;
  height: 100%;
}
.main-banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-banner__image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-banner__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 17, 17, 0.58);
}